/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color, #ffffff);
  background-image: var(--bag-image);
  color: var(--main-color, #000000);
  font-family: var(--main-font, "Inter", sans-serif);
  /*margin: 102px 372px 104px;*/
  margin-block-start: 102px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: "Inter", sans-serif;
  }
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-block-end: 104px;
  font-family: var(--accent-font, "Press Start 2P", sans-serif);
  gap: 20px;
  text-transform: uppercase;
  border: 2px solid var(--main-color, #000000);
  background: var(--background-color, #ffffff);
  /*inline-size: 48.5vw;*/
  inline-size: clamp(371px, 48.5vw, 696px);
  /*height: 38.5vh;*/
  block-size: clamp(327px, 38.5vh, 368px);
  padding: 0 8px 0 15px;
}

.header p {
  /*font-size: clamp(49px,4rem,65px);*/
  margin-block-start: 110px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header h1 {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  font-size: 14px;
  margin-inline-start: 18px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__item:not(:last-of-type) {
  padding-bottom: 9px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button:disabled {
  pointer-events: none;
  animation: opacity 0.3s ease forwards;
}

.theme-menu__button:hover {
  animation: opacity 0.3s ease forwards;
}

.theme-menu__button:focus {
  outline: none;
  animation: opacity 0.3s ease forwards;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-end: 100%;
  animation: arrow 0.5s ease-in-out alternate infinite;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: currentColor;
  transition: width 0.5s;
}

.theme-menu__button:focus-visible:after {
  width: 100%;
}

.content {
  /*margin-block-end: 53px;*/
  /*inline-size: 48.5vw;*/
  inline-size: clamp(371px, 48.5vw, 696px);
  border: 2px solid var(--main-color, #000000);
  background-color: var(--background-color, #ffffff);
  position: relative;
  margin-block-end: 51px;
  line-height: 21px;
}

.image {
  /*inline-size:  48.3vw;*/
  inline-size: 100%;
  object-fit: contain;
  object-position: center;
  position: relative;
  display: block;
  /*aspect-ratio: 1/1;*/
}

.div-image {
  border-bottom: 2px solid var(--main-color, #000000);
  border-top: 2px solid var(--main-color, #000000);
}

.layble {
  position: absolute;
  z-index: 2;
  font-family: var(--accent-font, "Press Start 2P", sans-serif);
  color: var(--main-color, #000000);
  font-weight: var(--font-width-main, 400);
  text-transform: lowercase;
  font-size: 14px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  inset-inline-end: 2vw;
  padding-top: 4%;
  text-shadow: 1px var(--background-color, #ffffff);
}

.uprc {
  text-transform: uppercase;
}

@supports (-webkit-text-stroke: 1px var(--background-color)) {
  .layble {
    -webkit-text-stroke: 1px var(--background-color, #ffffff);
  }
}

.content-text {
  padding: 25px;
  font-size: 18px;
  font-weight: var(--font-width-main);
  /*position: relative;*/
}

.content-text p:first-of-type {
  padding-block-end: 25px;
}

.content-button {
  background-color: var(--background-color, #ffffff);
  border: 2px solid var(--main-color, #000000);
  /*padding: 9px 33px;*/
  inline-size: 130px;
  /* padding: 17px 62px;*/
  font-family: var(--accent-font, "Press Start 2P", sans-serif);
  color: var(--main-color, #000000);
  /* margin: 1.5vw 0 1.7vw 37.6vw;*/
  font-size: 14px;
  position: relative;
  overflow: hidden;
  margin-left: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: end;
  /*margin: 1.5vw 1.6vw 1.7vw 0;*/
  margin: 0 25px 25px 0;
}

.content-button:focus {
  outline: none;
  animation: shadow 0.3s ease forwards;
}

.content-button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset-inline-start: 0px;
  inset-block-start: 0px;
  background-color: currentColor;
  transform: translate(-100%);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.content-button:hover:after {
  transform: translate(0);
}

.footer-button:focus {
  outline: none;
  animation: shadow 0.3s ease forwards;
}

.button__text {
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--button-text);
  /* position: absolute;*/
  font-size: 14px;
  font-family: inherit;
}

.floppy {
  width: 21px;
  height: 21px;
  margin-right: 1px;
}

.content h3 {
  /*padding-inline-start: 10px;*/
  padding: 3px 7px;
  font-size: 18px;
  font-weight: var(--font-width-title);
}

.footer-button {
  margin-bottom: 82px;
  /*inline-size: 23.5vw;
  block-size: clamp(55px,5.5vh,84px)*/
  block-size: 55px;
  inline-size: clamp(306px, 23.5vw, 335px);
}

.button-floppy {
  mix-blend-mode: difference;
  color: var(--button-text);
  z-index: 2;
}

dialog::backdrop {
  opacity: 0.75;
  background: var(--main-color, #000);
}

dialog[open] {
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  inline-size: 357px;
  block-size: 193px;
  border: 2px solid var(--main-color, #000);
  background: /*transparent;*/ var(--background-color, #fff);
  font-family: var(--accent-font, "Press Start 2P", sans-serif);
  color: var(--main-color, #000);
  font-size: 14px;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 89px 198px 66px;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0;
}

.dialog-button {
  grid-column: 1/4;
  grid-row: 2;
}

.dialog-text {
  grid-row: 1;
  grid-column: 2/3;
  align-self: end;
}

.dialog-floppy {
  width: 39px;
  height: 39px;
  align-self: center;
  margin: 23px 0 0 7px;
}

.dialog-button .content-button {
  padding: 11px 149px 11px 142px;
  text-transform: uppercase;
}

@media (width <= 760px) {
  .content-button {
    display: flex;
    flex-direction: column;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .footer-button {
    block-size: 84px;
  }

  dialog[open] {
    display: grid;
    grid-template-columns: 99px 201px 37px;
  }

  .dialog-floppy {
    margin: 25px 0 0 17px;
  }

  .header p {
    margin-block-start: 93px;
  }
  
}

.div-button {
  display: flex;
  justify-content: center;
}

/*----------ФИЛЬТРЫ-----------------*/

.filter-sepia {
  filter: sepia(80%);
}

.filter-saturate {
  filter: saturate(0%);
}

.filter-invert {
  filter: invert(0.1) saturate(235%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-mix {
  filter: hue-rotate(314deg);
}
